/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.form-group.has-error input {
  border-color: #eb5757;
  caret-color: #eb5757;
}

.form-group.has-error label {
  font-size: 0.8em;
  color: #eb5757;
  margin-top: 0.4em;
}

/* upload image */
.upload-img.has-error {
  border-radius: 10px;
  border: 2px dashed #eb5757 !important;
}

.upload-img.has-error .error-message {
  font-size: 0.7em;
  color: #eb5757 !important;
}
